<p>Ask your coach anything</p>
<form action="/answer" data-turbo="false">
  <div class="d-flex gap-4">
    <input type="text" name="question" class="form-control">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </div>
</form>
